.icon {
    color: #033703;
}

.foo {
    color: #3C19FF;
}

.action-icon {
    color: #B25009;
}

.navbar {
    background: #033703;
}

.navbar a.navbar-brand {
    color: white;
}

.navbar ul.nav li a{
    color: white;
}

.margin-right-sm {
    margin-right: 5px;
}

.input-panel .panel-body input {
   border-radius: 0px;
}

.input-panel .panel-body {
    padding: 0px;
}

.input-panel {
    border-radius: 0px;
}

.input-panel button {
    border-radius: 0px;
}

.input-panel .panel-body textarea {
    width: 100%;
    height: 100%;
}

div.panel.panel-default.input-panel div.bootstrap-select {
    width: 100%;
    border-radius: 0px;
}

button a, button a:hover {
    color: black;
    text-decoration: none;
}

a:visited, a:link, a:active{
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

