@model WebApplication1.Models.TasksViewModels.ScrumTableViewModel

@{
    ViewBag.Title = "title";
}

<h2>title</h2>

<div class="row">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    a
                </th>
                <th>
                    b
                </th>
                <th>
                    c
                </th>
                <th>
                    d
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model.Tasks)
            {
            <td>@Html.ActionLink(task.Title, "SingleTask", "ScrumTable", new { id = task.Id })</td>
            }
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            </tbody>

        </table>


    </div>
