@model WebApplication1.Models.TasksViewModels.ScrumTableViewModel

@{
    ViewBag.Title = "title";
}

<h2>title</h2>
 

    @Html.Label(Model.Tasks.Count().ToString())

<div class="row">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>
                a
            </th>
            <th>
                b
            </th>
            <th>
                c
            </th>
            <th>
                d
            </th>
        </tr>
        </thead>
        <tbody>
         
        </tbody>
    </table>


</div>
