@model WebApplication1.Models.TasksViewModels.ScrumTableViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>


@foreach (var a in Model.Tasks)
{
    @Html.Label(a.Title);
}